<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header><h1>enter the details</h1></header>

    <main>
      <form action="/host/add-home" method="POST">
        <input
          type="text"
          name="houseName"
          placeholder="Enter name of your house"
        />
        <input
          type="text"
          name="price"
          placeholder="Enter price of your house"
        />
        <input
          type="text"
          name="rating"
          placeholder="rate your house"
        />
        <button type="submit">submit</button>
      </form>
    </main>
  </body>
</html>
